<a href="https://colab.research.google.com/github/joohoshin/Python_Basic/blob/master/21_2_read_html.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas의 read_html()을 활용해서 웹의 테이블 데이터를 가져올수 있다. 

https://finance.naver.com/item/main.nhn?code=005930

더 세부적인 웹크롤링이 필요하면 beutifulsoup 라이브러리를 사용한다.

In [ ]:
# 데이터를 가져와보자
import pandas as pd

raw = pd.read_html('https://finance.naver.com/item/main.nhn?code=005930',encoding='cp949')

In [ ]:
raw

[                    0  ...                               2
 0  전일  66,600  66,600  ...     거래량  15,531,086  15,531,086
 1    시가  66,10066,100  ...  거래대금  1,043,145  1,043,145  백만

 [2 rows x 3 columns],      매도상위        거래량      매수상위        거개량
 0     NaN        NaN       NaN        NaN
 1    이베스트  2414946.0      이베스트  2367550.0
 2      한화  1383739.0        한화  1509645.0
 3      삼성  1367318.0        삼성  1261233.0
 4    키움증권  1100966.0      키움증권  1135484.0
 5  NH투자증권  1044612.0    NH투자증권   925291.0
 6  외국계추정합   302388.0  +469,938   772326.0,       날짜       종가        전일비         외국인        기관
 0    NaN      NaN        NaN         NaN       NaN
 1  11/25  66600.0  하향  1,100    -4445653  +466,158
 2  11/24  67700.0    상향  200  +2,110,398  -3009197
 3  11/23  67500.0  상향  2,800  +3,796,824  +637,477
 4  11/20  64700.0    상향  100     -423971  -1150454
 5  11/19  64600.0    하향  200     -672178   -966779
 6  11/18  64800.0    하향  900    -1234779  +372,944
 7    NaN      NaN        NaN         NaN       NaN,        주요재무정보    최근 연간 실적              ...   최근 분기 실적
        주요재무정보     2017.12     2018.12  ...    2020.06    2020.09 2020.12(E)
        주요재무정보      IFRS연결      IFRS연결  ...     IFRS연결     IFRS연결     IFRS연결
 0         매출액  2395754.00  2437714.00  ...  529661.00  669642.00  631513.00
 1        영업이익   536450.00   588867.00  ...   81463.00  123532.00  101611.00
 2       당기순이익   421867.00   443449.00  ...   55551.00   93607.00   79444.00
 3       영업이익률       22.39       24.16  ...      15.38      18.45      16.09
 4        순이익률       17.61       18.19  ...      10.49      13.98      12.58
 5   ROE(지배주주)       21.01       19.63  ...       8.49       9.51        NaN
 6        부채비율       40.68       36.97  ...      32.67      36.09        NaN
 7        당좌비율      181.61      204.12  ...     250.04     229.69        NaN
 8         유보율    24536.12    27531.92  ...   29477.97   30242.29        NaN
 9      EPS(원)     5421.00     6024.00  ...     808.00    1364.00    1101.00
 10     PER(배)        9.40        6.42  ...      16.52      15.89      60.51
 11     BPS(원)    30427.00    35342.00  ...   38534.00   39446.00   40401.00
 12     PBR(배)        1.67        1.09  ...       1.37       1.48       1.65
 13   주당배당금(원)      850.00     1416.00  ...        NaN        NaN        NaN
 14   시가배당률(%)        1.67        3.66  ...        NaN        NaN        NaN
 15    배당성향(%)       14.09       21.92  ...        NaN        NaN        NaN

 [16 rows x 11 columns],            종목명 삼성전자*005930 SK하이닉스*000660 솔브레인*357780  리노공업058470 원익IPS240810
 0          현재가       67600         99500      252200      126700       37900
 1         전일대비   상향  1,000     상향  2,300   상향  4,200     상향  800     상향  400
 2          등락률  상향  +1.50%    상향  +2.37%  상향  +1.69%  상향  +0.64%  상향  +1.07%
 3      시가총액(억)     4035573        724362       19617       19312       18602
 4     외국인비율(%)       56.56         50.16       21.99       42.64       27.52
 5       매출액(억)      669642         81288        2305         530         NaN
 6      영업이익(억)      123532         12997         543         205         NaN
 7    조정영업이익(억)      123532         12997         543         205         NaN
 8   영업이익증가율(%)       51.64        -33.24         NaN       -2.28         NaN
 9     당기순이익(억)       93607         10779         381         146         NaN
 10    주당순이익(원)     1364.24       1479.75     4755.72      958.14         NaN
 11      ROE(%)        9.51          5.81         NaN       20.02         NaN
 12      PER(%)       18.46         25.24         NaN       31.35       29.91
 13      PBR(배)        1.71          1.35        4.17        5.83        2.98,           0                1
 0      시가총액  403조  5,573  억원
 1    시가총액순위           코스피 1위
 2     상장주식수       5969782550
 3  액면가l매매단위      100원  l  1주,              0           1
 0  외국인한도주식수(A)  5969782550
 1  외국인보유주식수(B)  3376465034
 2  외국인소진율(B/A)      56.56%,            0                  1
 0  투자의견l목표주가  4.00매수  l  78,883
 1   52주최고l최저  69,500  l  42,300,                    0                  1
 0   PERlEPS(2020.09)  18.46배  l  3,662원
 1          추정PERlEPS  17.00배  l  4,069원
 2  PBRlBPS (2020.09)  1.71배  l  39,446원
 3      배당수익률l2019.12              2.10%,           0       1
 0  동일업종 PER  20.06배
 1  동일업종 등락률  +1.70%,          매도잔량 호가(20분지연)       매수잔량
 0         NaN       NaN        NaN
 1    115547.0     68400        NaN
 2    203486.0     68300        NaN
 3    196166.0     68200        NaN
 4    213181.0     68100        NaN
 5    345917.0     68000        NaN
 6    255693.0     67900        NaN
 7    251296.0     67800        NaN
 8    234534.0     67700        NaN
 9    176649.0     67600        NaN
 10   263047.0     67500        NaN
 11        NaN       NaN        NaN
 12        NaN     67400   161210.0
 13        NaN     67300   170992.0
 14        NaN     67200   117815.0
 15        NaN     67100   104835.0
 16        NaN     67000   114802.0
 17        NaN     66900   145168.0
 18        NaN     66800    86906.0
 19        NaN     66700    94501.0
 20        NaN     66600   183960.0
 21        NaN     66500   170832.0
 22        NaN       NaN        NaN
 23  2255516.0      잔량합계  1351021.0,        업체명       거래량         전일비
 0     삼성전자   67700.0   상향  1,100
 1     LG화학  810000.0  상향  22,000
 2     셀트리온  331000.0   상향  1,000
 3    삼성전자우   61700.0     상향  900
 4   SK하이닉스   99400.0   상향  2,200
 5      NaN       NaN         NaN
 6     서울식품     202.0      상향  39
 7      카카오  372500.0   상향  5,500
 8    NAVER  284000.0   상향  5,500
 9     신풍제약  126500.0   상향  7,500
 10   두산중공업   15950.0     상향  550,          업체명       거래량         전일비
 0     셀트리온제약  187900.0  상향  15,900
 1   에이비프로바..    2820.0     하향  180
 2   셀트리온헬스..  110100.0   상향  2,000
 3      진매트릭스   29900.0   하향  4,000
 4        링네트    7770.0   상향  1,430
 5        NaN       NaN         NaN
 6       알서포트   16100.0   상향  1,300
 7         씨젠  181500.0   상향  3,900
 8      GH신소재   11100.0   상향  2,510
 9      박셀바이오   98700.0     상향  200
 10    제일전기공업   31350.0   하향  2,650]

In [ ]:
type(raw)

list

In [ ]:
raw[0]

                    0  ...                               2
0  전일  66,600  66,600  ...     거래량  15,531,086  15,531,086
1    시가  66,10066,100  ...  거래대금  1,043,145  1,043,145  백만

[2 rows x 3 columns]

In [ ]:
type(raw[0])

pandas.core.frame.DataFrame

In [ ]:
raw[1]

     매도상위        거래량      매수상위        거개량
0     NaN        NaN       NaN        NaN
1    이베스트  2414946.0      이베스트  2367550.0
2      한화  1383739.0        한화  1509645.0
3      삼성  1367318.0        삼성  1261233.0
4    키움증권  1100966.0      키움증권  1135484.0
5  NH투자증권  1044612.0    NH투자증권   925291.0
6  외국계추정합   302388.0  +469,938   772326.0

In [ ]:
len(raw)

13

In [ ]:
raw = pd.read_html('https://finance.naver.com/item/main.nhn?code=005930',attrs={'class':'tb_type1 tb_num tb_type1_ifrs'},encoding='cp949')

In [ ]:
raw

[       주요재무정보    최근 연간 실적              ...   최근 분기 실적
        주요재무정보     2017.12     2018.12  ...    2020.06    2020.09 2020.12(E)
        주요재무정보      IFRS연결      IFRS연결  ...     IFRS연결     IFRS연결     IFRS연결
 0         매출액  2395754.00  2437714.00  ...  529661.00  669642.00  631513.00
 1        영업이익   536450.00   588867.00  ...   81463.00  123532.00  101611.00
 2       당기순이익   421867.00   443449.00  ...   55551.00   93607.00   79444.00
 3       영업이익률       22.39       24.16  ...      15.38      18.45      16.09
 4        순이익률       17.61       18.19  ...      10.49      13.98      12.58
 5   ROE(지배주주)       21.01       19.63  ...       8.49       9.51        NaN
 6        부채비율       40.68       36.97  ...      32.67      36.09        NaN
 7        당좌비율      181.61      204.12  ...     250.04     229.69        NaN
 8         유보율    24536.12    27531.92  ...   29477.97   30242.29        NaN
 9      EPS(원)     5421.00     6024.00  ...     808.00    1364.00    1101.00
 10     PER(배)        9.40        6.42  ...      16.52      15.89      60.51
 11     BPS(원)    30427.00    35342.00  ...   38534.00   39446.00   40401.00
 12     PBR(배)        1.67        1.09  ...       1.37       1.48       1.65
 13   주당배당금(원)      850.00     1416.00  ...        NaN        NaN        NaN
 14   시가배당률(%)        1.67        3.66  ...        NaN        NaN        NaN
 15    배당성향(%)       14.09       21.92  ...        NaN        NaN        NaN

 [16 rows x 11 columns]]

In [ ]:
type(raw)

list

In [ ]:
len(raw)

1

In [ ]:
raw[0]

       주요재무정보    최근 연간 실적              ...   최근 분기 실적
       주요재무정보     2017.12     2018.12  ...    2020.06    2020.09 2020.12(E)
       주요재무정보      IFRS연결      IFRS연결  ...     IFRS연결     IFRS연결     IFRS연결
0         매출액  2395754.00  2437714.00  ...  529661.00  669642.00  631513.00
1        영업이익   536450.00   588867.00  ...   81463.00  123532.00  101611.00
2       당기순이익   421867.00   443449.00  ...   55551.00   93607.00   79444.00
3       영업이익률       22.39       24.16  ...      15.38      18.45      16.09
4        순이익률       17.61       18.19  ...      10.49      13.98      12.58
5   ROE(지배주주)       21.01       19.63  ...       8.49       9.51        NaN
6        부채비율       40.68       36.97  ...      32.67      36.09        NaN
7        당좌비율      181.61      204.12  ...     250.04     229.69        NaN
8         유보율    24536.12    27531.92  ...   29477.97   30242.29        NaN
9      EPS(원)     5421.00     6024.00  ...     808.00    1364.00    1101.00
10     PER(배)        9.40        6.42  ...      16.52      15.89      60.51
11     BPS(원)    30427.00    35342.00  ...   38534.00   39446.00   40401.00
12     PBR(배)        1.67        1.09  ...       1.37       1.48       1.65
13   주당배당금(원)      850.00     1416.00  ...        NaN        NaN        NaN
14   시가배당률(%)        1.67        3.66  ...        NaN        NaN        NaN
15    배당성향(%)       14.09       21.92  ...        NaN        NaN        NaN

[16 rows x 11 columns]

In [ ]:
fin_df = raw[0]

In [ ]:
type(fin_df)

pandas.core.frame.DataFrame

In [ ]:
fin_df.columns

MultiIndex([(  '주요재무정보',     '주요재무정보', '주요재무정보'),
            ('최근 연간 실적',    '2017.12', 'IFRS연결'),
            ('최근 연간 실적',    '2018.12', 'IFRS연결'),
            ('최근 연간 실적',    '2019.12', 'IFRS연결'),
            ('최근 연간 실적', '2020.12(E)', 'IFRS연결'),
            ('최근 분기 실적',    '2019.09', 'IFRS연결'),
            ('최근 분기 실적',    '2019.12', 'IFRS연결'),
            ('최근 분기 실적',    '2020.03', 'IFRS연결'),
            ('최근 분기 실적',    '2020.06', 'IFRS연결'),
            ('최근 분기 실적',    '2020.09', 'IFRS연결'),
            ('최근 분기 실적', '2020.12(E)', 'IFRS연결')],
           )

In [ ]:
fin_df.columns.get_level_values(2)

Index(['주요재무정보', 'IFRS연결', 'IFRS연결', 'IFRS연결', 'IFRS연결', 'IFRS연결', 'IFRS연결',
       'IFRS연결', 'IFRS연결', 'IFRS연결', 'IFRS연결'],
      dtype='object')

In [ ]:
fin_df.columns= fin_df.columns.get_level_values(1)

In [ ]:
fin_df.columns

Index(['주요재무정보', '2017.12', '2018.12', '2019.12', '2020.12(E)', '2019.06',
       '2019.09', '2019.12', '2020.03', '2020.06', '2020.09(E)'],
      dtype='object')

In [ ]:
fin_df = fin_df.T

In [ ]:
fin_df

                     0       1       2   ...        13        14       15
주요재무정보              매출액    영업이익   당기순이익  ...  주당배당금(원)  시가배당률(%)  배당성향(%)
2017.12     2.39575e+06  536450  421867  ...       850      1.67    14.09
2018.12     2.43771e+06  588867  443449  ...      1416      3.66    21.92
2019.12     2.30401e+06  277685  217389  ...      1416      2.54    44.73
2020.12(E)  2.38404e+06  371055  278835  ...      1561       NaN      NaN
2019.09          620035   77779   62877  ...       NaN       NaN      NaN
2019.12          598848   71603   52270  ...       NaN       NaN      NaN
2020.03          553252   64473   48849  ...       NaN       NaN      NaN
2020.06          529661   81463   55551  ...       NaN       NaN      NaN
2020.09          669642  123532   93607  ...       NaN       NaN      NaN
2020.12(E)       631513  101611   79444  ...       NaN       NaN      NaN

[11 rows x 16 columns]

In [ ]:
fin_df.columns = fin_df.iloc[0,:]

In [ ]:
fin_df.head()

주요재무정보              매출액    영업이익   당기순이익  ...  주당배당금(원)  시가배당률(%)  배당성향(%)
주요재무정보              매출액    영업이익   당기순이익  ...  주당배당금(원)  시가배당률(%)  배당성향(%)
2017.12     2.39575e+06  536450  421867  ...       850      1.67    14.09
2018.12     2.43771e+06  588867  443449  ...      1416      3.66    21.92
2019.12     2.30401e+06  277685  217389  ...      1416      2.54    44.73
2020.12(E)  2.38404e+06  371055  278835  ...      1561       NaN      NaN

[5 rows x 16 columns]

In [ ]:
fin_df.drop(['주요재무정보'], inplace=True)

In [ ]:
fin_df

주요재무정보              매출액    영업이익   당기순이익  영업이익률  ... PBR(배) 주당배당금(원) 시가배당률(%) 배당성향(%)
2017.12     2.39575e+06  536450  421867  22.39  ...   1.67      850     1.67   14.09
2018.12     2.43771e+06  588867  443449  24.16  ...   1.09     1416     3.66   21.92
2019.12     2.30401e+06  277685  217389  12.05  ...   1.49     1416     2.54   44.73
2020.12(E)  2.38404e+06  371055  278835  15.56  ...   1.65     1561      NaN     NaN
2019.09          620035   77779   62877  12.54  ...    1.3      NaN      NaN     NaN
2019.12          598848   71603   52270  11.96  ...   1.49      NaN      NaN     NaN
2020.03          553252   64473   48849  11.65  ...   1.25      NaN      NaN     NaN
2020.06          529661   81463   55551  15.38  ...   1.37      NaN      NaN     NaN
2020.09          669642  123532   93607  18.45  ...   1.48      NaN      NaN     NaN
2020.12(E)       631513  101611   79444  16.09  ...   1.65      NaN      NaN     NaN

[10 rows x 16 columns]

In [ ]:
fin_df = fin_df.query('index=="2020.06"')

In [ ]:
fin_df

주요재무정보      매출액   영업이익  당기순이익  영업이익률  ... PBR(배) 주당배당금(원) 시가배당률(%) 배당성향(%)
2020.06  529661  81463  55551  15.38  ...   1.37      NaN      NaN     NaN

[1 rows x 16 columns]