<a href="https://colab.research.google.com/github/joohoshin/Python_Basic/blob/master/21_3_read_json.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

pandas의 read_json을 통해 json 파일을 읽을 수 있습니다. 
인터넷에서 데이터를 주고 받을 때 많이 사용되는 형식입니다. 

아래의 예제 데이터를 불러와보겠습니다. 

https://jsonplaceholder.typicode.com

In [ ]:
import pandas as pd
todo = pd.read_json('https://jsonplaceholder.typicode.com/todos')

In [ ]:
todo

     userId   id                                              title  completed
0         1    1                                 delectus aut autem      False
1         1    2                 quis ut nam facilis et officia qui      False
2         1    3                                fugiat veniam minus      False
3         1    4                                   et porro tempora       True
4         1    5  laboriosam mollitia et enim quasi adipisci qui...      False
..      ...  ...                                                ...        ...
195      10  196                consequuntur aut ut fugit similique       True
196      10  197                  dignissimos quo nobis earum saepe       True
197      10  198                       quis eius est sint explicabo       True
198      10  199                       numquam repellendus a magnam       True
199      10  200                       ipsam aperiam voluptates qui      False

[200 rows x 4 columns]

In [ ]:
todo.userId.value_counts()

10    20
9     20
8     20
7     20
6     20
5     20
4     20
3     20
2     20
1     20
Name: userId, dtype: int64

In [ ]:
import pandas as pd
users = pd.read_json('https://jsonplaceholder.typicode.com/users')

In [ ]:
users

   id  ...                                            company
0   1  ...  {'name': 'Romaguera-Crona', 'catchPhrase': 'Mu...
1   2  ...  {'name': 'Deckow-Crist', 'catchPhrase': 'Proac...
2   3  ...  {'name': 'Romaguera-Jacobson', 'catchPhrase': ...
3   4  ...  {'name': 'Robel-Corkery', 'catchPhrase': 'Mult...
4   5  ...  {'name': 'Keebler LLC', 'catchPhrase': 'User-c...
5   6  ...  {'name': 'Considine-Lockman', 'catchPhrase': '...
6   7  ...  {'name': 'Johns Group', 'catchPhrase': 'Config...
7   8  ...  {'name': 'Abernathy Group', 'catchPhrase': 'Im...
8   9  ...  {'name': 'Yost and Sons', 'catchPhrase': 'Swit...
9  10  ...  {'name': 'Hoeger LLC', 'catchPhrase': 'Central...

[10 rows x 8 columns]

In [ ]:
users.company[0]

{'bs': 'harness real-time e-markets',
 'catchPhrase': 'Multi-layered client-server neural-net',
 'name': 'Romaguera-Crona'}

In [ ]:
users.company[0]['name']

'Romaguera-Crona'